<% var data = {
title: "Парапети на паркан,бетонні вироби декоративні, дашки, капелюхи на паркан, в м. Надвірна, Івано - Франківськ та області",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="container price-table">
  <div class="price-parapety">
    <div class="price-parapety-header">Заголовок</div>
    <div class="price-parapety-list"></div>
  </div>
  <div class="price-kapeluhy">
    <div class="price-kapeluhy-header">Заголовок</div>
    <div class="price-kapeluhy-list"></div>
  </div>
  <div class="price-inshe">
    <div class="price-inshe-header">Заголовок</div>
    <div class="price-inshe-list"></div>
  </div>
</div>

<div class="container-fluid" style="display: none">
  <h3 align='center'><font color="#ff0000">Завжди можливий компроміс в цінах!</font></h3>
  <h4 align='center'>ЦІНИ Актуальні станом на 1 лютого 2019р</h4>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
